* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #000000;
}

.container {
    width: 100%;
    min-height: 100vh;
    // background: linear-gradient(135deg, #153677, #4e085f);
    background-image: url(images/background_image11.jpeg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    opacity: 0.9;
}

.todo-app h2 {
    color: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

.btn {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: black;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul > li {
    list-style: none;
    font-size: 17px;
    padding: 12px 70px 12px 50px;
    // user-select: none;
    cursor: pointer;
    position: relative;
    overflow-wrap: break-word;
    display: grid;
    grid-template-columns: 360px 1fr 1fr;
}

ul li span::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li span.checked {
    color: #555;
    text-decoration: line-through;
}
ul li span.checked::before {
    background-image: url(images/checked.png);
}

.delete-btn {
    right: 0;
    top: 5px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: #000000;
    text-align: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.delete-btn:hover,
.edit-btn:hover {
    background: #a8a9ad;
}

.edit-btn {
    border: none;
    right: 0;
    top: 5px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    border-radius: 50%;
}
